.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 50%;
    position: relative;
    margin-left: 26%;
}


.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}


#timeline {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin:2% auto;
}

#timeline td, #timeline th {
    border: 1px solid #ddd;
    padding: 8px;
}

#timeline tr:nth-child(even){background-color: #f2f2f2;}

#timeline tr:hover {background-color: #ddd;}

#timeline th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
